{% extends 'knock-knock/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
{% set selectedTab = selectedTab ?: 'general' %}
{% set fullPageForm = true %}
{% set pageTabs = {
    general: { title: 'General Settings' | t('knock-knock'), url: url('knock-knock/settings') },
    urls: { title: 'URLs' | t('knock-knock'), url: url('knock-knock/settings/urls') },
    security: { title: 'Security' | t('knock-knock'), url: url('knock-knock/settings/security') },
} %}
{% set pageTitle = pageTabs[selectedTab].title ?? pageTabs[selectedTab].heading ?? null %}
{% if not pageTitle %}{% exit 404 %}{% endif %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = selectedTab == 'general' ? 'knock-knock/settings' : 'knock-knock/settings/' ~ selectedTab %}

{% block settingsContent %}
    {% include 'knock-knock/settings/_panes/' ~ selectedTab ignore missing %}
{% endblock %}
