{% extends '_layouts/base' %}
{% import '_includes/forms' as forms %}

{% set title = 'Site Locked' | t('knock-knock') %}
{% set bodyClass = 'login' %}

{% do view.registerAssetBundle('verbb\\knockknock\\assetbundles\\FrontEndAsset') %}

{% block body %}

<form class="login-form" method="post" accept-charset="UTF-8">
    <h1>{{ 'Site locked' | t('knock-knock') }}</h1>

    <input type="hidden" name="action" value="knock-knock/default/answer">
    <input type="hidden" name="redirect" value="{{ redirect | hash }}">
    {{ csrfInput() }}

    <div id="login-fields">
        {{ forms.passwordField({
            id: 'password',
            placeholder: 'Password' | t('knock-knock'),
            name: 'password',
            autofocus: true,
            errors: (errors is defined ? errors : null),
        }) }}
    </div>

    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Unlock' | t('knock-knock') }}">
        <div id="spinner" class="spinner hidden"></div>
    </div>
</form>

{% endblock %}