{% extends 'knock-knock/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'knock-knock/_macros' as macros %}

{% set crumbs = [
    { label: 'Knock Knock' | t('knock-knock'), url: url('knock-knock') },
    { label: 'Settings' | t('knock-knock'), url: url('knock-knock/settings') },
] %}

{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="knock-knock">

<h2>{{ 'Knock, knock ... who’s there?' | t('knock-knock') }}</h2>
<p>{{ 'Share this password with anyone you want to access your website.' | t('knock-knock') }}</p>

{% namespace 'settings' %}

{{ forms.lightswitchField({
    label: 'Enabled' | t('knock-knock'),
    instructions: 'Whether the plugin should be enabled.' | t('knock-knock'),
    id: 'enabled',
    name: 'enabled',
    value: 1,
    on: settings.enabled,
    errors: settings.getErrors('enabled'),
    warning: macros.configWarning('enabled', 'knock-knock'),
}) }}

{{ forms.textField({
    label: 'Password' | t('knock-knock'),
    instructions: 'Minimum 8 characters, don\'t make it easy.' | t('knock-knock'),
    id: 'password',
    name: 'password',
    value: settings.password,
    errors: settings.getErrors('password'),
    warning: macros.configWarning('password', 'knock-knock'),
}) }}

{{ forms.autosuggestField({
    label: 'Template' | t('knock-knock'),
    instructions: 'Select a custom template to be shown as the password protected page. Leave empty for the default.' | t('knock-knock'),
    id: 'template',
    name: 'template',
    suggestions: craft.cp.getTemplateSuggestions(),
    value: settings.template,
    errors: settings.getErrors('template'),
    warning: macros.configWarning('template', 'knock-knock'),
}) }}

{% set siteRows = [] %}

{% for site in craft.app.sites.getAllSites() %}
    {% set siteSettings = settings.siteSettings[site.handle] ?? null %}

    {% set siteRows = siteRows | merge({
        (site.handle): {
            heading: site.name | t('site'),
            enabled: include('_includes/forms/lightswitch', {
                name: 'siteSettings[' ~ site.handle ~ '][enabled]',
                on: siteSettings.enabled ?? false,
                value: '1',
                small: true,
            }),
            password: {
                value: siteSettings.password ?? '',
            },
            template: {
                value: siteSettings.template ?? '',
            },
        }
    }) %}
{% endfor %}

{{ forms.editableTableField({
    label: 'Site Settings' | t('app'),
    instructions: 'Enter options to password-protect your site.' | t('app'),
    id: 'siteSettings',
    name: 'siteSettings',
    cols: {
        heading: {
            type: 'heading',
            heading: 'Enabled' | t('knock-knock'),
            class: 'thin',
            info: 'Whether to show the password protect screen for this site.' | t('knock-knock'),
        },
        enabled: {
            type: 'heading',
            class: 'thin' ~ (not craft.app.getIsMultiSite() ? ' hidden')
        },
        password: {
            type: 'singleline',
            heading: 'Password' | t('knock-knock'),
            info: 'Minimum 8 characters, don’t make it easy.' | t('knock-knock'),
        },
        template: {
            type: 'template',
            heading: 'Template' | t('knock-knock'),
            info: 'Select a custom template to be shown as the password protected page. Leave empty for the default.' | t('knock-knock'),
            code: true,
        },
    },
    rows: siteRows,
    staticRows: true,
}) }}

{% endnamespace %}

{% endblock %}