{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: 'Check Invalid Logins' | t('knock-knock'),
    instructions: 'Whether to check and log invalid logins. This will lock IP addresses out of the system in certain circumstances, but can help against brute-force logins.' | t('knock-knock'),
    id: 'checkInvalidLogins',
    name: 'checkInvalidLogins',
    value: 1,
    on: settings.checkInvalidLogins,
    errors: settings.getErrors('checkInvalidLogins'),
    warning: macros.configWarning('checkInvalidLogins', 'knock-knock'),
}) }}

{{ forms.textField({
    label: 'Invalid Login Window Duration' | t('knock-knock'),
    instructions: 'The amount of time to track invalid login attempts for an IP, for determining if Knock Knock should lock the IP out.' | t('knock-knock'),
    id: 'invalidLoginWindowDuration',
    name: 'invalidLoginWindowDuration',
    value: settings.invalidLoginWindowDuration,
    errors: settings.getErrors('invalidLoginWindowDuration'),
    warning: macros.configWarning('invalidLoginWindowDuration', 'knock-knock'),
}) }}

{{ forms.textField({
    label: 'Max Invalid Logins' | t('knock-knock'),
    instructions: 'The number of invalid login attempts Knock Knock will allow within the specified duration before the IP gets locked.' | t('knock-knock'),
    id: 'maxInvalidLogins',
    name: 'maxInvalidLogins',
    value: settings.maxInvalidLogins,
    errors: settings.getErrors('maxInvalidLogins'),
    warning: macros.configWarning('maxInvalidLogins', 'knock-knock'),
}) }}

{{ forms.textAreaField({
    label: 'Allow IPs' | t('knock-knock'),
    instructions: 'Provide IP Addresses that won\'t be prompted to enter a password. These will also be exempt from lockouts out automatically. One IP Address per line.' | t('knock-knock'),
    rows: 10,
    id: 'allowIps',
    name: 'allowIps',
    value: settings.allowIps,
    errors: settings.getErrors('allowIps'),
    warning: macros.configWarning('allowIps', 'knock-knock'),
}) }}

{{ forms.textAreaField({
    label: 'Deny IPs' | t('knock-knock'),
    instructions: 'Provide IP Addresses that should be locked out automatically. One IP Address per line.' | t('knock-knock'),
    rows: 10,
    id: 'denyIps',
    name: 'denyIps',
    value: settings.denyIps,
    errors: settings.getErrors('denyIps'),
    warning: macros.configWarning('denyIps', 'knock-knock'),
}) }}

{{ forms.lightswitchField({
    label: 'Use Remote IP' | t('knock-knock'),
    instructions: 'Whether to use the Remote IP address of the user to compare their IP against. If security if your primary concern, consider turning this on. This may not accurately report users behind proxies, so use with caution.' | t('knock-knock'),
    id: 'useRemoteIp',
    name: 'useRemoteIp',
    value: 1,
    on: settings.useRemoteIp,
    errors: settings.getErrors('useRemoteIp'),
    warning: macros.configWarning('useRemoteIp', 'knock-knock'),
}) }}